<div class="booster center {{#if can_afford}} {{else}} cantbuy {{/if}}" id="booster-{{id}}" onclick="buy_upgrade('{{id}}')">
	<img src="{{icon}}">
	<div>
		<span class="booster-title">
			{{name}}
		</span>
		
		<div>
			{{description}}
			
			<div 
			{{#if can_afford}}
				class="enough-money"
			{{else}}
				class="not-enough-money"
			{{/if}} id="price-{{id}}">
				{{display_price}} oats
			</div>
			<span id="owned-{{id}}">
				{{#if own_word}}
					{{own_word}}: {{display_count}}
				{{else}}
					Owned: {{display_count}}
				{{/if}}
			</span>
		</div>
	</div>
</div>
